@model BookmakersApplication.Models.OptionTip
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>



@using (Html.BeginForm())
{
    foreach (var item in Model.AllTips)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pair)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota1)
                <div> @Html.RadioButtonFor(s => s.SelectedtItems, item.TipId)</div>
                <input type="submit" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota1X)
                <div> @Html.RadioButtonFor(s => s.SelectedtItems, item.TipId)</div>
                <input type="submit" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotaX)

                <div> @Html.RadioButtonFor(s => s.SelectedtItems, item.TipId)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuotaX2)
                <div> @Html.RadioButtonFor(s => s.SelectedtItems, item.TipId)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quota2)
                <div> @Html.RadioButtonFor(s => s.SelectedtItems, item.TipId)</div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTopOffer)

            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>

        </tr>
    }
}