@model IEnumerable<BookmakersApplication.Models.Ticket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Tickets</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Stake)
        </th>
        <th>
            Winning
        </th>
        <th>
            TicketId
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Stake)<text> kn </text>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winning) <text> kn </text>
        </td>
        <td>
            @Html.DisplayFor(modelItem=>item.TicketId)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TicketId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TicketId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TicketId })
        </td>
    </tr>
}

</table>
