@model BookmakersApplication.Models.Wallet

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Wallet</h4>
    <hr />
    <dl class="dl-horizontal">
       

        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            Amount
        </dt>
        <dd>
            @Html.DisplayFor(model=>model.NewAmount) <text> kn </text>
        </dd>
       
        <h3> Owners  </h3>
        <table>
            <thead>
                <tr>
                    <th>Stake</th>
                    <th class="col-md-10"> TicketId</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var pair in Model.Tickets)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => pair.Stake)  <text> kn </text>   </td>


                        <td class="col-md-5">@Html.DisplayFor(modelItem => pair.TicketId)</td>
                        <td>@Html.DisplayFor(modelItem => pair.Wallet.NewAmount)</td>

                    </tr>
                    
                }
            </tbody>
        </table>


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index") |
    @Html.ActionLink("Go to the ticket", "Details", "UserTickets",new {id=Model.id },null)
</p>
